<%= link_to "Address Book Application", root_path, :class => 'brand' %>
<nav>
  <ul class="nav pull-right">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Contacts', contacts_path %>
    </li>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    <% if current_user.is_developer %>
    <li>
    <%= link_to 'API', threescale_signin_user_path(current_user.id) %>
    </li>
    <% else %>
    <li>
    <%= link_to 'API', static_pages_api_path %>
    </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
  </ul>
</nav>
