<!DOCTYPE html>
<html>
<head>
  <title>AddressBookApp | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <%= render 'layouts/header' %>
  <%= render 'layouts/messages' %>
  <div class="container" id="main" role="main">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
  </body>
</html>